<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{SITE_TITLE}} | {% block title %}Home{% endblock %}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cairo|Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
        <link rel="stylesheet" href="./static/bootstrap4-pleasant.min.css">
        <link rel="stylesheet" href="./static/main.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <link rel="canonical" href="https://{{SITE_DOMAIN}}{{request.path}}"/>
        
        {% block head %}
        {% endblock %}
    </head>
    
    <body>
        {{ toastr.message() }}
        {% block beforebody %}
        {% endblock %}
        
        {% block header %}
        <header>
            <a id="top"></a>
            {% block headerbefore %}
            {% endblock %}

            <nav class="navbar navbar-expand-sm navbar-light">
                <div class="nav-bar-wrapper mx-sm-auto d-sm-flex d-block flex-sm-nowrap">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <b><a class="navbar-brand" href=".{{PAGES.index.url}}">
                        {% block logo %}
                        {% endblock %}
                        <h2 style="white-space: normal">Syncroplicity</h2>
                    </b></a>
                </div>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav navbar-left ">
                        <li class="nav-item">
                            <a class="nav-link" href=".{{PAGES.index.url}}">{{PAGES.index.title}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=".{{PAGES.projects.url}}">{{PAGES.projects.title}}</a>
                        </li>
                    </ul>
                        
                    <h1 class="nav-item main-brand-link d-none d-sm-block {% block enableLogo %}{% endblock %}">
                        <a href="{{PAGES.index.url}}"><b><span style="color:#41a428">Syncro</span>plicity</b></a><br/>
                        <small><i class="fa fa-angle-double-right"></i>  {{ self.subtitle() }} <i class="fa fa-angle-double-left"></i></small>
                    </h1>

                    <ul class="navbar-nav navbar-right">
                      <li class="nav-item">
                          <a class="nav-link" href=".{{PAGES.get_involved.url}}">{{PAGES.get_involved.title}}</a>
                        </li>
                      <li class="nav-item">
                          <a class="nav-link" href=".{{PAGES.about.url}}">{{PAGES.about.title}}</a>
                      </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% endblock %}
        

        {% block outer %}
        <article>
            {% block article %}
            {% endblock %}
        </article>
        {% endblock %}

        {% block footer %}
        <footer>
            {% block footerbefore %}
            {% endblock %}
            <div class="container text-center text-darkgrey">
                {% block footersocial %}
                    {% include 'social.html' %}
                {% endblock %}
                {% block footercopyright %}<small>Syncroplicity © 2020</small>{% endblock %}
            </div>
            {% block footerafter %}
            {% endblock %}
        </footer>
        {% endblock %}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        {% block bodyafter %}
        {% endblock %}
    </body>
</html>
