{% extends "base.html" %}

{% block title %}Contact us{% endblock %}
{% block subtitle %}Contact us{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}
{% block article %}
    <article>
        <div class="container-full" style="padding: 0px 10px;">
            <div style="max-width: 670px; margin: auto; float: none; font-size: 1.2em">
                <br/><br/><br/>
                <center>
                    <h2>Contact information</h2>
                    <hr/>
                </center>
                Collect emails of interested people
                <br/><br/><br/>
            </div>
            <center>
                
            </center>
            <br/><br/><br/>
        </div>
    </article>
{% endblock %}

