{% extends "base.html" %}

{% block title %}Get Involved{% endblock %}
{% block subtitle %}Get Involved{% endblock %}
{% block logo %}
{% endblock %}
{% block article %}
    <article class="container">
        <br/><br/><br/>
        <div style="color:#ddd; text-align: center; margin-top: 5px;">
            <b>Get involved in the Syncroplicity project!</b>
            <br/><br/><br/>
            Information to add (Partner information, EHR integration, billing integration)
            <br/><br/>
            <hr style="max-width: 645px"/>
        </div>
        <br/>
    </article>
    <br/><br/><br/>
{% endblock %}
