{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block subtitle %}Home{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}
{% block article %}
    <div class="container-full" style="overflow:hidden">
        <center>
            <br/><br/><br/>
            <h2><b>Syncroplicity</b>
            DrChrono Data Sync App</h2>
            
            <br/><br/><br/>
            <div class="container">
            <p>
                Our proposed solution is a web application running constantly, providing continuous 
                sync with an interactive overview web interface. <br/>
                The web application will be authenticated with both your practice accounts to the 
                <b>DrChrono</b> API, and will run an automated scheduled sync system that transfers 
                data in the background without user intervention.
            </p>
            </div>
            <br/><br/>
        
            <div class="row container__steps">
                <div class="container__step col-md-12 text-center">
                    <div style="background-image: url(./static/sync-proccess1.gif)" class="article-featured-image"></div>
                </div>
            </div>
        </center>
        
        <center style="overflow: hidden">
            <br/>
            <b>
                Have a quick question?
                You can chat with us via <a href="{{PAGES.about.url}}#contact">email</a> or <a href="{{PAGES.about.url}}#contact">phone call</a>. You can also find us on <a href="{{SOCIAL.Twitter.url}}">Twitter</a>.
            </b>
            <br/><br/><br/><br/>
            <div style="background-color: rgba(96, 214, 43, 0.08); position: relative">
                <span style="position: relative; z-index: 20">
                    <b>
                    <b>Follow our newsletter and social feeds to get updates and announcements.</b>
                    <br/><br/><br/>
                    <span class="library">
                        <a href="" class="btn btn-shadow btn-success btn-dark">
                            <i class="fa fa-envelope"></i> Newsletter
                        </a>
                        &nbsp;  
                        <a href="" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        &nbsp; 
                        <a href="" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                            <i class="fa fa-linkedin"></i> LinkedIn
                        </a>
                    </span>
                    <br/><br/><br/>
                    Or send us an email at <a href="mailto:hello@monadical.com">hello@syncroplicity.com</a> if you want to say hi!
                    </b>
                    <br/><br/><br/><br/>
                </span>
            </div>
        </center>
    </div>
{% endblock %}
{% block bodyafter %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% endblock %}
