{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block subtitle %}Project{% endblock %}
{% block article %}
    <style>
        .library h2 {
            color: #58d665;
            opacity: 0.8;
        }
    </style>
    <canvas class="animated-color-grid" height="40"></canvas>
    <br/>
    <div class="container">
        <br/><br/>
        <div style="color:#ddd; text-align: center; margin-top: 5px;">
            <h4>
                Syncroplicity project description to add (maybe images of the tools used for development like in Monadical's page)
            </h4>
            <br/><br/><br/>
            <div class="container" style="max-width: 800px; margin: auto">
            <div class="row">
            </div>
            </div>
            <br/><br/>
        </div>
        <br/><br/>
    </div>
    <div style="background-color: rgba(255,255,255,0.05); width: 100%; padding-bottom: 50px">
        <br/><br/>
        <center>
            <h2>
                <a id="main">MAIN FEATURES</a>
            </h2>
        </center>
        <br/><br/>
        <div class="container-full" style="background-color: #fff">
            <div class="row">
                <div class="col-md-4 text-center project">
                    <div class="project__description">
                        <img src="static/chrono1.png"/>
                        <h3 style="font-size:22px">Feature description</h4>
                        <br/>
                        Feature description
                        <br/>
                        <br/>
                    </div>
                </div>
                <div class="col-md-4 text-center project" style="padding-left: 2px; padding-right: 2px">
                    <div class="project__description" style="border: 8px solid #454545;min-height: 105%;margin-top: -15px;background-color: #fefefe;">
                        <img src="static/chrono2.png"/>
                        <h3 style="font-size:22px">Feature description</h4>
                        <br/>
                        Feature description
                        <br/><br/>
                    </div>
                </div>
                <div class="col-md-4 text-center project">
                    <div class="project__description">
                        <img src="static/chrono3.png"/>
                        <h3 style="font-size:22px">Feature description</h4>
                        <br/>
                        Feature description
                        <br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: rgba(255,255,255,0.05); width: 100%; padding-bottom: 50px">
        <br/><br/>
        <div class="container">
        </div>
    </div>
    <canvas class="animated-color-grid" height="40" style="box-shadow: none; opacity: 0.9"></canvas>

{% endblock %}


